{% extends "base.html" %}
{% load static %}

{% block title %}
    Log In
{% endblock %}

{% block content %}

<div class="container mt-1 d-flex justify-content-center">
{% if form.errors %}
    <div class="p-2 d-inline-block bg-dark rounded">
        <p class="text-danger">Your username and password didn't match. Please try again.</p>
    </div>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
      <div class="p-2 d-inline-block bg-dark rounded d-flex justify-content-center">
        <p class="text-warning">Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      </div>
  {% else %}
      <div class="p-2 d-inline-block bg-dark rounded d-flex justify-content-center">
        <p class="text-warning">Please login to see this page.</p>
      </div>
  {% endif %}
{% endif %}
</div>

<div class="bg-dark rounded container p-3 mt-3 w-50">
<div class="container row justify-content-center">
  <h1 class="cp-h text-center">Login</h1>
  <form method="post" action="{% url 'login' %}" class="cp-form">
    {% csrf_token %}
    <div class="form-group mb-4">
      <label for="username" class="form-label cp-label">Username:</label>
      <input type="text" name="username" class="form-control cp-input" id="username" placeholder="Enter username">
    </div>
    <div class="form-group mb-4">
      <label for="password" class="form-label cp-label">Password:</label>
      <input type="password" name="password" class="form-control cp-input" id="password" placeholder="Enter password">
    </div>
    <p class="text-end"><a href="{% url 'password_reset' %}" class="cp-link">Lost password?</a></p>
    <div>
        <input type="submit" value="Login" class="btn container-fluid btn-primary btn-block" id="cp-btn">
        <input type="hidden" name="next" value="{{ next }}">
    </div>
    <p class="cp-label mt-3 text-center">Not a member? &nbsp<a href="{% url 'signup' %}" class="cp-link">Sign Up</a></p>
  </form>

</div>
</div>

{% endblock %}