{% extends "base.html" %}
{% block title %}
    Reset password
{% endblock %}
{% block content %}
<div class="bg-dark rounded container p-3 mt-3 w-50">
<div class="container row justify-content-center">
  <h1 class="cp-h text-center">Password reset</h1>
    <form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <div class="form-group mb-4">
          <label for="email" class="form-label cp-label">Email:</label>
          <input type="email" name="email" class="form-control cp-input" id="email" placeholder="Enter email">
        </div>
    <div class="mb-3">
        <input type="submit" class="btn container-fluid btn-default btn-lg" id="cp-btn" value="Reset password" />
    </div>
    </form>

</div>
</div>
{% endblock %}