/*======================
    404 page
=======================*/
@font-face {
  font-family: 'blender-bold';
  src: local('blender-bold'),
       url("/static/fonts/blender/BlenderPro-Bold.ttf");
}

.page_404 {
    margin: 0 auto;
    padding: 40px 0;
    background: #fff;
    font-family: blender-bold, serif;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}


.four_zero_four_bg h1 {
    font-size: 100px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    font-family: blender-bold, serif;
    padding: 10px 20px;
    background-color: #39ac31;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
}

.content_box_404 {
    margin-top: -50px;
}