{% extends "base.html" %}
{% load static %}
{% block title %}
    Cyberpunk Wiki
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}
{% block content %}
    <div class="jumbotron jumbotron-fluid text-white">
        <div class="container main_info">
            <img src="{% static "images/Cyberpunk2077_logo.webp" %}" alt="Logo Cyberpunk" style="display: block; width: 75%; margin: 0 auto;">
            <h1>Добро пожаловать в мир Cyberpunk 2077!</h1>
            <p>Cyberpunk 2077 - это экшен-ролевая игра, разработанная CD Projekt Red и выпущенная CD Projekt в декабре 2020 года. Игроки погрузятся в Найт-Сити - открытый мир, созданный во вселенной Cyberpunk, и примут на себя роль персонажа V, наемного наемника, которого можно настраивать и улучшать в области взлома и механики, а также в ближнем и дальнем бою.</p>
            <h2>Жизненные пути и ветвление диалогов</h2>
            <p>Cyberpunk 2077 предлагает множество возможностей выбора и последствий, которые будут влиять на дальнейшее развитие игры. Взаимодействуя с окружением, игроки сталкиваются с трудными решениями, которые будут иметь последствия для всей игры. Выбранный жизненный путь и инвестированные в навыки атрибуты также будут влиять на доступные квесты и возможности.</p>

            <h2>Атрибуты и перки</h2>
            <p>Атрибуты в Cyberpunk 2077 - это основные характеристики, которые можно повышать, чтобы сделать персонажа V сильнее. Каждый атрибут обеспечивает определенные пассивные преимущества, а повышение их уровня дает доступ к более высокому уровню перков. Под каждым атрибутом находятся два или три дерева умений, в которые можно инвестировать. Каждое умение называется перком и требует затратить очко перка на его разблокировку или повышение уровня. Повышение уровня также дает очки перка, которые можно получить, используя перковые осколки или достигнув определенного уровня навыков.</p>

            <h2>Справочник по миру Cyberpunk</h2>
            <p>В мире Cyberpunk 2077 много интересных вещей, которые можно узнать, и множество опасностей, которые нужно избегать. Мы собрали для вас справочник, который поможет вам разобраться в мире игры и ответит на многие вопросы.</p>

            <h2>Лучшие оружие и модификации тела</h2>
            <p>В Cyberpunk 2077 вы получите доступ к огромному арсеналу оружия и модификаций тела, которые помогут сделать персонажа V еще более мощным. Мы собрали для вас список лучших оружий и модификаций, которые стоит получить.</p>
        </div>
    </div>
{% endblock content %}
{% include "navigation.html" %}