{% extends "base.html" %}
{% block title %}
    Create Article
{% endblock %}
{% block content %}
<div class="container cp-bg p-3">
<h1 class="cp-h text-center">Update article</h1>
    <form method="post" enctype="multipart/form-data" class="cp-form">
      {% csrf_token %}
      {{ form.media }}
        {% for field in form %}
            <label class="cp-label" for="{{ field.auto_id }}">{{ field.label }}</label>
            {{ field }}
        {% endfor %}
      <button type="submit" class="btn container-fluid btn-primary btn-block mt-3" id="cp-btn">Update Article</button>
    </form>
</div>
{% endblock %}